body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  animation: fadeIn 1s ease-in;
  min-height: 100vh;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app > *:not(footer) {
  flex: 1;
}

.container {
  padding: 2em;
  max-width: 1072px;
  margin: auto;
}

*, *::before, *::after {
  box-sizing: content-box !important;
}

